#best img{height: 310px;width: 250px;margin-left:520px;margin-top:5px;}
#bestseler{background: #444;height: 50px;}
#bestseler h2{text-align:center;color:#ffffff;line-height:0px;}
#foto img{width: 250px;height: 310px;margin-left:90px;}
h4{color:#ffffff;text-align:center;}
a{text-decoration:none;color:#ffffff;}